{
  "plugins": [
    "transform-exponentiation-operator",
    "syntax-trailing-function-commas",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-runtime"
  ],
  "ignore": [
    "blueprints/*/files/**",
    "test/dummy/**"
  ]
}
